@tailwind base;
@tailwind components;
@tailwind utilities;


#chat-div::-webkit-scrollbar {
    display: none;
  }

  #chat-div {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }

  @keyframes animate {
    from{
      opacity: 0;
      transform: translateY(-100px);
    } to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes animate2 {
    from{
      transform: translateX(-200px);
    } to {
      transform: translateX(0);
    }
  }

  .errorAnimation {
    animation: animate2 1s ease-in;
  }

  .messageDivAnimation {
    animation: animate 0.5s ease-in;
  }